<!DOCTYPE html>
<html lang="es-CL">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Edit Nickname</title>
</head>
<body>
    <h2>Edit {{score.nick}}</h2>
    <form action="/juego/editado/{{score.id}}" method="POST">
        {% csrf_token %}
        <label for="nick">Nick</label>
        <input type="text" name="nick" placeholder="Nickname" value="{{score.nick}}">
        <label for="puntaje">Puntaje</label>
        <input type="number" name="puntaje" placeholder="Puntaje" value="{{score.puntaje}}" readonly>
        <input type="submit" value="Guardar">
    </form>
</body>
</html>