<!DOCTYPE html>
<html lang="es-CL">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <title>Colorblindness</title>
</head>
<body>
        <nav class="navbar navbar-expand-lg navbar-dark" style="background-color:black; padding: 0%;">
            <div class="navbar-collapse justify-content-center" id="navbarNavAltMarkup">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                        <a class="nav-link text-white text-center " href="">Colorblindness</a>
                    </li>
                    <li class="nav-item">
                            <a class="nav-link text-white text-center" href="juego/">Play</a>
                    </li>
                </ul>
                <div class="form-inline my-2 my-lg-0 justify-content-center" style="color: white">
                    {% if user.is_authenticated %}
                    {{ user.username }}
                    <a class="btn my-2 my-sm-0" href="accounts/logout/">Log Out</a>
                    {% else %}
                    <a class="btn my-2 my-sm-0" href="accounts/login/">Log In</a>
                    <a class="btn my-2 my-sm-0" href="register/">Register</a>
                    {% endif %}
                </div>
            </div>
        </nav><br>
        <div>
            <center><h2>Registered Scores</h2></center>
            <br>
          
            <div>
                <br>
                    <table class="table table-bordered " >
                            <thead  style=" background-color: black">
                                <tr>
                                    <td style="color: white">Name</td>
                                    <td style="color: white">Score</td>
                                    <td style="color: white">Options</td>
                                </tr>
                            </thead >
                            <tbody >
                                <!-- inicia el ciclo con los datos de la base de datos -->
                             {% for e in elementos%}
                              <tr>
                                    <td>{{e.nick}}</td>
                                    <td>{{e.puntaje}}</td>
                                    <td> 
                                        <a  style='width:100px; height:35px'  class="btn btn-primary"href="juego/buscar/{{e.id}}">See</a>
                                        <a  style='width:100px; height:35px'  class="btn btn-success"href="juego/editar/{{e.id}}">Edit</a>
                                        <a  style='width:100px; height:35px'  class="btn btn-danger"href="juego/eliminar/{{e.id}}">Delete</a> 
                                    </td>
                               </tr>
                            {% endfor %}
                            </tbody>
                        </table> 
                </div>        
           
        </div>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
</html>