<!DOCTYPE html>
{% load staticfiles %}
<html lang="es-CL">
     <head>
            <meta charset="UTF-8">
            <meta name="viewport" content="width=device-width, initial-scale=1.0">
            <meta http-equiv="X-UA-Compatible" content="ie=edge">
            <link rel="stylesheet" href="{% static 'css/estilo.recuperar.css' %}">
<title>Recuperar Contraseña</title>
     </head>
<body>

<form action="/action_page.php">
  <div class="container">
    <h2>Ingresa tus datos</h2>
  </div>

  <div class="container" style="background-color:white">
    <input type="text" placeholder="Nombre" name="name" required>
    <input type="text" placeholder="Correo Electrónico" name="mail" required>
  </div>

  <div class="container">
    <input type="submit" value="Recuperar contraseña" href="/">
  </div>
</form>

</body>
</html>