canvas {
    border:1px solid #d3d3d3;
    background-color: red;
    margin-left: auto;
    margin-right: auto;
    display: block;
    max-width: 100%;
    max-height: 350px;
    margin-top: 100px;
    margin-bottom: 60px;
}

div{
    align-content: center;
    float: right;
    margin-left: auto;
    margin-right: auto;
    display: block;
}