<!DOCTYPE html>
<html  lang="es-CL">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Log In</title>
    </head>
<body>
{% if form.errors %}
<p>There are some errors!</p>
{% endif %}

{% if next %}
<p>Go On...</p>
{% endif %}
<h2>Log In</h2>

<form method="post" action="{% url 'login' %}">
  {% csrf_token %}
  <div class="container">
    <p>User: {{ form.username }}</p>
    <p>Password: {{ form.password }}</p>
    <p><input type="submit" value="Login"></p>
    <input type="hidden" name="next" value="{{ next }}">
  </div>
</form>

</body>
</html>
