<!DOCTYPE html>
{% load staticfiles %}
<html lang="es-CL">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{% static 'css/estilo.formulario.css' %}">
<title>Register</title>
</head>
<body>

<form action="{% url 'register' %}" method="POST">
    {% csrf_token %}
    {% if form.errors %}
    <p>There are errors in the form!</p>
    {% endif %}
  <div class="container">
    <h1>Register</h1>
    <p>Fill the form to create a new account.</p>
    <hr>

    {{ form }}
    <br>
    <button type="submit" >Register</button>
  <div class="container signin">
    <p>Do you have an account? <a href="accounts/login">Log In</a>.</p>
  </div>
</form>

</body>
</html>